@import url('https://fonts.googleapis.com/css2?family=Anton&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/* Colors */
$black:#040403;
$white:#FBFCFF;

/* Fonts */
$primary-font: "Anton", sans-serif;
$secondary-font: "Noto Serif", sans-serif;