@use '../globals/variables' as *;

// Bot贸n Primario con Animaci贸n 
.btn-primary{
    @apply w-fit relative px-4 py-2 uppercase text-lg border border-primary hover:bg-primary hover:text-white hover:border-primary transition-all;
    font-family: $primary-font;
    i{
        @apply absolute right-0 top-1/2 text-transparent;
        transform: translateY(-45%);
        transition: transform 0.3s, color 0.3s;
    }
}
.btn-primary:hover i{
    @apply text-white;
    transform: translateX(-50%) translateY(-45%);
}
.btn-primary:hover span{
    @apply pr-4
}
.btn-primary:hover span{
    @apply pr-6
}
.btn-primary span{
    transition: padding-right 0.3s;
}
// Fin Bot贸n Primario con Animaci贸n 