footer{
    @apply bg-black text-white;
    .footer-container{
        @apply max-w-screen-xl mx-auto flex flex-col items-center gap-y-8 py-12 px-4 md:flex-row md:justify-between;
        .footer-logo{
            @apply flex flex-col gap-4 text-6xl text-primary;
            svg{
                @apply w-36 h-auto fill-white mx-auto md:mx-0;
            }
            .social-icons a{
                @apply h-8 w-8 aspect-square rounded-md flex justify-center items-center ring-1 text-white bg-white/15 ring-white/20 hover:bg-primary hover:text-white hover:ring-primary_darker transition-all;
            }
        }
        .footer-menu{
            @apply flex flex-col gap-4 text-center md:flex-row md:gap-8 md:text-left;
            a{
                @apply text-sm;
            }
        }
        p{
            @apply text-center;
        }
    }
    .footer-divider{ 
        @apply h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-white to-transparent opacity-50 my-16 lg:my-24;
    }
    .post-footer{
        @apply max-w-screen-xl mx-auto flex justify-between items-center p-4 text-xs;
        .developed-by{
            @apply text-white/50;
            a:hover{
                @apply text-white;
            }
        }
    }
}