.home-hero-banner{
    @apply flex items-center justify-evenly;
    hr{
        @apply border-t-2 border-black dark:border-white;
    }
    img{
        @apply w-auto h-[90%] rounded-3xl rounded-e-none object-cover;
    }
    .vertical-text{
        transform: rotate(180deg);
        writing-mode: vertical-lr;
    }
}
#services{
    .card {
        @apply relative h-auto w-full flex flex-col justify-between aspect-square gap-8;
        .imgBx{
            @apply relative h-full w-full rounded-3xl bg-cover bg-center;
            .price{
                @apply absolute flex items-center bg-white dark:bg-black rounded-bl-3xl h-20 w-auto right-0 px-4 py-4;
            }
            .price::after{
                @apply absolute rounded-full bg-transparent h-12 -left-12 top-0 w-12 shadow-[24px_-24px_0_0_rgba(251,252,255,1)] dark:shadow-[24px_-24px_0_0_rgba(10,10,10,1)];
                content: '';
            }
            .price::before{
                @apply absolute rounded-full bg-transparent h-12 right-0 -bottom-12 w-12 shadow-[24px_-24px_0_0_rgba(251,252,255,1)] dark:shadow-[24px_-24px_0_0_rgba(10,10,10,1)];
                content: '';
            }
        }
        .content{
            @apply flex flex-col gap-4 px-8;
            .card-title{
                @apply flex justify-between;
                a{
                    @apply text-primary text-3xl;
                }      
            }
        }
    }
    .splide__pagination{
        @apply relative mt-16 gap-1;
        .splide__pagination__page{
            @apply bg-[#D9D9D9] w-4 h-4;
            border-radius:20px;
            cursor:pointer;
            transition:0.3s ease width;

        }
        .splide__pagination__page.is-active{
            @apply bg-primary scale-100 w-8;
            ;
        }
    }
    .vertical-text{
        writing-mode: vertical-lr;
    }
}
#faqs{
    .questions{
        @apply flex flex-col md:flex-row justify-between flex-wrap w-full gap-4;
        .question{
            @apply w-full md:w-[30%];
        }
    }
    .vertical-text{
        writing-mode: vertical-lr;
    }
}
#contact{
    .vertical-text{
        @apply rotate-180;
        writing-mode: vertical-lr;
    }
}